<!doctype html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Polityka Prywatności - Spotted Zespół Szkół Technicznych</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f0f0f0;
                margin: 0;
                padding: 0;
                align-items: center;
                height: 100vh;
                flex-direction: column;
                text-align: justify;
            }

            h1 {
                font-size: 28px;
                margin-bottom: 20px;
            }
            p {
                font-size: 16px;
                line-height: 1.6;
                margin-bottom: 20px;
            }
        </style>
    </head>
    <body style="padding: 10px;">
        <div class="content">
            <h1>Polityka Prywatności</h1>

            <p>Data ostatniej aktualizacji: 10 kwietnia 2025 roku</p>

            <p>
                Witamy na stronie internetowej "Spotted Zespół Szkół
                Technicznych". Zależy nam na zapewnieniu bezpieczeństwa Twoich
                danych osobowych, dlatego poniżej znajdziesz szczegółowe
                informacje na temat przetwarzania danych zbieranych za
                pośrednictwem naszej witryny.
            </p>

            <h2>1. Jakie dane zbieramy?</h2>
            <p>
                Podczas korzystania z naszej strony internetowej, zbieramy dane
                takie jak:
            </p>
            <ul>
                <li>
                    <strong>Adres IP</strong>: Zbieramy tymczasowo adresy IP
                    użytkowników, którzy odwiedzają naszą stronę, w celu analizy
                    ruchu oraz zapewnienia bezpieczeństwa witryny.
                </li>
                <li>
                    <strong>Adresy email podane w korespondencji z pomocą techniczną</strong>:
                    Zbieramy adres e-mail użytkownika w przypadku kontaktu z naszym zespołem wsparcia technicznego. Adres ten wykorzystywany jest wyłącznie do obsługi zgłoszenia i zostaje trwale usunięty niezwłocznie po zakończeniu danego ticketa.
                </li>
                <li>
                    <strong>Treści wiadomości kierowanych do pomocy technicznej</strong>:
                    Przechowujemy treść wiadomości przesłanych do supportu jedynie na czas rozpatrywania zgłoszenia. Po zamknięciu ticketa, wszystkie związane z nim wiadomości są natychmiast usuwane.
                </li>
                <li>
                    <strong>Wiadomości przesyłane przez użytkowników</strong>:
                    Zbieramy treści wiadomości anonimowych, które użytkownicy
                    przesyłają przez formularz na stronie. Informacje te są
                    przetwarzane wyłącznie w celu ich obsługi.
                </li>
                <li>
                    <strong>Informacje o przeglądarkach użytkowników (User Agent)</strong>:
                    Zbieramy dane dotyczące przeglądarki internetowej oraz
                    systemu operacyjnego, które pomagają nam w analizie
                    użyteczności strony oraz w dostosowywaniu jej do preferencji
                    użytkowników.
                </li>
                <li>
                    <strong>Imię i nazwisko (jeśli użytkownik założył konto)</strong>:
                    Jeśli użytkownik założył konto, przechowujemy jego imię i nazwisko, które są podawane dobrowolnie. Te dane wykorzystywane są wyłącznie do personalizacji konta i kontaktu z użytkownikiem. Dane te nie są udostępniane osobom trzecim, poza przypadkami przewidzianymi prawem.
                </li>
                <li>
                    <strong>Hasła (jeśli użytkownik założył konto)</strong>:
                    Hasła użytkowników przechowywane są w postaci hashowanej i solonej, co oznacza, że nie przechowujemy haseł w postaci tekstowej. Hashowanie i solenie hasła zapewnia, że Twoje dane są chronione przed nieautoryzowanym dostępem, nawet w przypadku wycieku danych.
                </li>
                <li>
                    <strong>Username (jeśli użytkownik założył konto)</strong>:
                    Nazwy użytkowników (usernames) są przechowywane w postaci hashowanej, co zapewnia dodatkową warstwę ochrony przed ujawnieniem w przypadku naruszenia bezpieczeństwa systemu.
                </li>
            </ul>

            <h2>2. Jakie jest przechowywanie danych?</h2>
            <p>
                Zebrane dane, w tym adresy IP, treści wiadomości oraz informacje
                o przeglądarkach, są przechowywane przez okres
                <strong>trzech miesięcy</strong> od momentu ich przesłania. Dane
                te są przechowywane w celu zgodności z przepisami prawa oraz do
                celów statystycznych. Dane z pomocy technicznej (adresy e-mail oraz treść wiadomości)
                są usuwane natychmiast po zakończeniu zgłoszenia. Imię i nazwisko użytkownika, jeśli zostały podane, są przechowywane tak długo, jak długo użytkownik posiada aktywne konto. Hashowane dane, takie jak nazwa użytkownika i hasło, są przechowywane w sposób zabezpieczony przez cały czas, aż do usunięcia konta użytkownika.
            </p>

            <h2>3. Wykorzystanie danych</h2>
            <p>Zebrane dane są wykorzystywane wyłącznie w celu:</p>
            <ul>
                <li>Monitorowania ruchu na naszej stronie internetowej.</li>
                <li>
                    Zapewniania bezpieczeństwa witryny, w tym zapobiegania
                    atakom.
                </li>
                <li>
                    Analizowania wiadomości przesyłanych przez użytkowników w
                    celu ich prawidłowej obsługi.
                </li>
                <li>
                    Obsługi zgłoszeń przesyłanych do pomocy technicznej – przetwarzane są jedynie dane niezbędne do odpowiedzi, tj. adres e-mail oraz treść wiadomości. Dane te są usuwane natychmiast po zakończeniu obsługi ticketa.
                </li>
                <li>
                    Personalizacji konta użytkownika w przypadku założenia konta, w tym przechowywania imienia i nazwiska użytkownika.
                </li>
                <li>
                    Zabezpieczenia konta użytkownika poprzez hashowanie i solenie haseł oraz przechowywanie nazw użytkowników w sposób hashowany.
                </li>
            </ul>

            <h2>4. Czy dane będą udostępniane osobom trzecim?</h2>
            <p>
                Twoje dane osobowe, adresy IP, e-maile oraz treści wiadomości,
                nigdy nie będą udostępniane ani sprzedawane żadnym osobom
                trzecim, z wyjątkiem sytuacji, w których będziemy zobowiązani do
                ich ujawnienia na mocy obowiązujących przepisów prawa. 
                Udostępnienie danych będzie miało miejsce jedynie w przypadku 
                uzyskania odpowiedniego zatwierdzenia przez sąd, w sytuacjach, 
                gdy będzie to wymagane przez obowiązujące przepisy prawne lub 
                decyzje sądowe.
            </p>

            <h2>5. Jak chronimy Twoje dane?</h2>
            <p>
                Dokładamy wszelkich starań, aby zapewnić odpowiednie
                zabezpieczenie Twoich danych osobowych. Wykorzystujemy
                odpowiednie środki techniczne i organizacyjne, aby chronić je
                przed nieautoryzowanym dostępem, ujawnieniem, zmianą czy
                zniszczeniem. Mimo to, należy pamiętać, że żadna metoda
                przesyłania danych przez internet, ani żadna metoda
                przechowywania danych elektronicznych, nie jest w 100%
                bezpieczna. Dlatego nie możemy zagwarantować absolutnego
                bezpieczeństwa przesyłanych danych.
            </p>

            <h2>5. Jak chronimy Twoje dane?</h2>
<p>
    Dokładamy wszelkich starań, aby zapewnić odpowiednie
    zabezpieczenie Twoich danych osobowych. Wykorzystujemy
    odpowiednie środki techniczne i organizacyjne, aby chronić je
    przed nieautoryzowanym dostępem, ujawnieniem, zmianą czy
    zniszczeniem. Mimo to, należy pamiętać, że żadna metoda
    przesyłania danych przez internet, ani żadna metoda
    przechowywania danych elektronicznych, nie jest w 100%
    bezpieczna. Dlatego nie możemy zagwarantować absolutnego
    bezpieczeństwa przesyłanych danych.
</p>

<p>
    Wszystkie serwery, na których działa nasza strona internetowa, są w 100% zarządzane przez właścicieli witryny. Nie są one udostępniane ani obsługiwane przez żadne podmioty zewnętrzne. Oznacza to, że dostęp do infrastruktury serwerowej mają wyłącznie upoważnione osoby należące do zespołu administracyjnego strony, co minimalizuje ryzyko nieautoryzowanego dostępu przez osoby trzecie.
</p>

            <h2>6. Prawa użytkownika</h2>
            <p>Masz prawo do:</p>
            <ul>
                <li>
                    Uzyskania dostępu do swoich danych osobowych oraz ich
                    poprawienia.
                </li>
                <li>
                    Usunięcia swoich danych osobowych, w przypadku gdy nie są
                    one już potrzebne do celów, dla których zostały zebrane.
                </li>
                <li>
                    Ograniczenia przetwarzania danych lub sprzeciwu wobec ich
                    przetwarzania, jeżeli uważasz, że przetwarzanie Twoich
                    danych narusza przepisy prawa.
                </li>
            </ul>

            <h2>7. Zmiany w Polityce Prywatności</h2>
            <p>
                Polityka prywatności może być okresowo aktualizowana, aby
                odzwierciedlić zmiany w przepisach prawnych lub w naszych
                praktykach. O wszelkich zmianach w polityce prywatności będziemy
                informować na tej stronie. Zachęcamy do regularnego przeglądania
                tego dokumentu w celu zapoznania się z ewentualnymi zmianami.
            </p>

            <h2>8. Kontakt</h2>
            <p>
                Jeśli masz jakiekolwiek pytania dotyczące naszej Polityki
                Prywatności lub sposobu przetwarzania Twoich danych, skontaktuj
                się z nami za pomocą formularza kontaktowego na stronie lub
                wyślij wiadomość na adres e-mail:
                <strong>zstspotted@proton.me</strong>.
            </p>
        </div>
    </body>
</html>
