<!doctype html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Regulamin - Spotted Zespol Szkol Technicznych</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f0f0f0;
                margin: 0;
                padding: 0;
                align-items: center;
                height: 100vh;
                flex-direction: column;
                text-align: justify;
            }

            h1 {
                font-size: 28px;
                margin-bottom: 20px;
            }
            p {
                font-size: 16px;
                line-height: 1.6;
                margin-bottom: 20px;
            }
        </style>
    </head>
    <body>
        <div class="content">
            <h1>Regulamin</h1>

            <p>Data ostatniej aktualizacji: 3 kwietnia 2025 roku</p>

            <p>
                Witamy na stronie internetowej "Spotted Zespol Szkol Technicznych". Korzystając z naszej witryny, zgadzasz się przestrzegać poniższych zasad i warunków.
            </p>

            <h2>1. Akceptacja warunków</h2>
            <p>
                Korzystając z naszej strony internetowej, akceptujesz niniejsze warunki użytkowania. Jeśli się z nimi nie zgadzasz, prosimy o zaprzestanie korzystania z witryny.
            </p>

            <h2>2. Wolność słowa</h2>
            <p>
                Szanujemy Twoje prawo do wolności wypowiedzi. W naszej społeczności zachęcamy do dzielenia się opiniami, pomysłami i doświadczeniami. Twoje wypowiedzi powinny być szanowane i konstruktywne.
            </p>

            <h2>3. Zakazane treści</h2>
            <p>
                Chociaż zapewniamy dużą swobodę wypowiedzi, istnieją pewne zasady, których należy przestrzegać:
            </p>
            <ul>
                <li>
                    <strong>Doxxing</strong>: Zabronione jest ujawnianie prywatnych informacji osób trzecich, takich jak adresy, numery telefonów, konta bankowe itp.
                </li>
                <li>
                    <strong>CSAM (Child Sexual Abuse Material)</strong>: Zabronione jest publikowanie, udostępnianie, ani posiadanie jakichkolwiek materiałów związanych z wykorzystywaniem dzieci.
                </li>
                <li>
                    <strong>Gore</strong>: Zabronione jest publikowanie materiałów zawierających brutalne, wstrząsające lub przemocowe treści.
                </li>
                <li>
                    <strong>NSFW (Not Safe For Work)</strong>: Zabronione jest publikowanie treści o charakterze erotycznym, pornograficznym lub zawierających nadmierną nagość.
                </li>
                <li>
                    <strong>NSFL (Not Safe For Life)</strong>: Zabronione jest publikowanie materiałów, które mogą być szkodliwe psychicznie, traumatyczne lub wywołujące niepokój, takich jak ekstremalne treści o charakterze brutalnym, okrutnym lub niehumanitarnym.
                </li>
                <li>
                    <strong>Mentzen</strong>: Zabronione jest szerzenie nienawiści, dyskryminacji lub ideologii, które promują skrajne poglądy, rasizm, homofobię, seksizm lub inne formy nietolerancji.
                </li>
            </ul>

            <h2>4. Odpowiedzialność użytkownika</h2>
            <p>
                Jako użytkownik naszej strony, ponosisz odpowiedzialność za treści, które publikujesz. Jeśli naruszysz nasz regulamin, Twoje konto może zostać zablokowane lub usunięte.
            </p>

            <h2>5. Zmiany w Regulaminie</h2>
            <p>
                Regulamin może być okresowo aktualizowany. O wszelkich zmianach będziemy informować na tej stronie. Zachęcamy do regularnego przeglądania tego dokumentu w celu zapoznania się z ewentualnymi zmianami.
            </p>

            <h2>6. Kontakt</h2>
            <p>
                Jeśli masz pytania dotyczące naszego regulaminu, skontaktuj się z nami za pomocą formularza kontaktowego na stronie lub wyślij wiadomość na adres e-mail:
                <strong>zstspotted@proton.me</strong>.
            </p>
        </div>
    </body>
</html>
