<style>
    .links {
        font-family: "Courier New", monospace;
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .links a {
        text-decoration: none;
        color: #333;
        margin: 0 15px;
    }

    .links a:hover {
        color: #007bff;
    }
</style>
<div class="links">
    <a href="/privacypolicy">Polityka Prywatności</a>
    <a
        href="http://7ia7pk5wzcva6izkyqjdjsgnyge724byfbtf5fvegh3wh6bfnqjk25ad.onion"
        >Strona na Tor</a
    >
    <a href="/tos">Regulamin</a>
</div>
