<div class="links">
    <a href="/support">Support</a>
    <a href="/privacypolicy">Polityka Prywatności</a>
    <a
        href="http://7ia7pk5wzcva6izkyqjdjsgnyge724byfbtf5fvegh3wh6bfnqjk25ad.onion"
        >Strona na Tor</a
    >
    <a href="/tos">Regulamin</a>
</div>
<style>

.links {
    font-family: "Courier New", monospace;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0; /* Dodajemy trochę przestrzeni wokół stopki */
    background-color: #f8f8f8; /* Opcjonalnie, aby wyróżnić stopkę */
    position: fixed;
    bottom: 0;
}

.links a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
}

.links a:hover {
    color: #007bff;
}

</style>