<!doctype html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Spotted Zespol Szkol Technicznych</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
            
        />
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    </head>
    <body>
        <a href="/">
            <button class="back-button">&lt</button>
        </a>
        <div class="container">
            <a href="/">
                <button class="back-button">Powrót</button>
            </a>
            <h1>Spotted Zespół Szkół Technicznych</h1>
            <p style="float: left; padding: 0; margin: 0; margin-left: 2px;">Wyślij anonimową wiadomość: </p>
            <input
                id="messageInput"
                type="text"
                placeholder="JAVASCRIPT ERROR"
            />

            <script>
                function losujPlaceholder(){
                    const strings = [
                        "Jak się nazywa ten chłopak w blond włosach z 2a?",
                        "Kto dziś spóźnił się na matematykę?",
                        "Czy to prawda, że Ola z 3b kogoś ma?",
                        "Dlaczego pan od fizyki dziś nie przyszedł?",
                        "Kto pisał ściągi z historii?"
                    ];

                    const randomString = strings[Math.floor(Math.random() * strings.length)];
                    document.getElementById("messageInput").setAttribute("placeholder", randomString);
                }
                window.onload = losujPlaceholder;
            </script>

            <button id="sendButton" class="send-button">Wyslij</button>
        </div>

        <div id="tosModal" class="modal">
            <div class="modal-content">
                <h2>Akceptacja Regulaminu</h2>
                <p>
                    Proszę zapoznać się z Regulaminem i Polityką Prywatności
                    przed wysłaniem wiadomości.
                </p>
                <div class="modal-footer">
                    <button id="acceptButton" class="modal-button">
                        Akceptuję
                    </button>
                    <button id="closeButton" class="modal-button">
                        Anuluj
                    </button>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
    {{ footer|safe }}
    <style>
        footer{
            position: fixed !important;
            bottom: 0 !important;
        }
    </style>
</html>
